# --- BASE DE DATOS MONGODB ---
DB_URL=mongodb+srv://usuario:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority

# --- SEGURIDAD Y TOKEN ---
JWT_SECRET=tu_clave_secreta_jwt_aqui

# --- SERVIDOR Y CORS ---
PORT=3000
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:5173

# --- CLOUDFLARE R2 (ALMACENAMIENTO DE ARCHIVOS/IMAGENES) ---
R2_ACCOUNT_ID=tu_account_id_de_cloudflare
R2_ACCESS_KEY_ID=tu_r2_access_key_id
R2_SECRET_ACCESS_KEY=tu_r2_secret_access_key
R2_BUCKET_NAME=assets
R2_PUBLIC_DOMAIN=https://tu-bucket.r2.dev
